# build
bin/
obj/

# user-specific
*.user
*.rsuser
.vs/

# accidental stash artifacts
tash*


# secrets / config
appsettings.json
appsettings.Development.json
appsettings.*.local.json

# logs
*.log

# other
*.pfx
*.snk
